<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HomeSpecialWriteMapper">
 
 
	<!--@author SSY 2018-04-28 新增 首页专题专题 -->
    <insert id="addHomeSpecial" parameterType="com.aurora.entity.home.HomeSpecial">
    	INSERT INTO  aurorascm.home_special_new
    		(url,special_map,updator,update_time,module,special_background,special_name,special_back_colour)
    	VALUES
    		(#{url},#{specialMap},#{updator},#{updateTime},#{module},#{specialBackground}, #{specialName}, #{specialBackColour})
    </insert>
     
    <!--@author SSY 2018-04-28  更新 首页专题专题 -->
    <update id="updateHomeSpecial" parameterType="com.aurora.entity.home.HomeSpecial">
    	UPDATE  
    		aurorascm.home_special_new
    	SET
    		url = #{url},
    		special_map = #{specialMap},
			updator = #{updator},
			special_background = #{specialBackground},
			special_back_colour = #{specialBackColour},
			special_name = #{specialName},
			update_time = #{updateTime}
    	WHERE
    		id = #{id}
    </update>
    
	<!--@author SSY 2018-04-28  删除 首页专题 -->
    <delete id="deleteHomeSpecial" parameterType="java.lang.Integer">
    	DELETE  FROM 
    		aurorascm.home_special_new  
    	WHERE 
    		id = #{id}
    </delete>
    
     
    
</mapper>