<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomeTopBrandReadMapper">

	
	<resultMap type="com.aurora.entity.home.HomeTopBrand" id="TopBrandResultMap">
		<id column="id" property="id"/>
		<result column="page_number" property="pageNumber"/>
		<result column="seat" property="seat"/>
		<result column="brand_id" property="brandID"/>
		<result column="brand_name" property="brandName"/>
		<result column="brand_show_map" property="brandShowMap"/>
		<result column="operator" property="operator"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	
	<!-- @author BYG 2018-04-27  获取品牌列表-->
	<select id="getBrandsByPageNumber" parameterType="Integer" resultMap="TopBrandResultMap">
		SELECT		*
		FROM		aurorascm.home_top_brand
		WHERE		page_number = #{pageNumber}
		ORDER BY	seat ASC
	</select>
	
	<!-- @author BYG 2018-04-27  获取拥有titleID的记录数-->
	<select id="getIDByTitleID" parameterType="int" resultType="int">
		SELECT		COUNT(id) count
		FROM		aurorascm.home_top_brand
		WHERE		title_id = #{titleID}
	</select>

	<!-- @author BYG 2018-04-27  根据标题ID和位置获取 商品-->
	<select id="getCountIDByTitleIDAndSeat" parameterType="com.aurora.entity.home.HotSell" resultType="int">
		SELECT		COUNT(id) count
		FROM		aurorascm.home_top_brand
		WHERE		title_id = #{titleID}
		AND			seat = #{seat}
	</select>

</mapper>